tools/
__pycache__/
*.pyc
*.tmp
data/telegram_config.json
data/telegram_last_offset.txt
**/telegram_config.json
**/telegram_last_offset.txt
data/pdf_acreditaciones/

# Ignorar todos los PDFs excepto las plantillas base iniciales de referencia
*.pdf
!ini_2026_par_pro_int_lis_mae.pdf
!secundaria/ini_2026_par_def_int_lis_sec.pdf
